<h1 class="navbar-lewagon">New Bookmarks</h1>

<div class="container w-50">
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.button :submit, class: "btn btn-gradient" %>
<% end %>
</div>
<br>

<a href="http://localhost:3000/lists">Retour à la liste</a>
